.reset-button {
  background-color: $neutral-color;
  border-radius: 1rem;
  box-sizing: border-box;
  color: $white-color;
  cursor: pointer;
  font-size: 2em;
  height: 4rem;
  left: 50%;
  line-height: 4rem;
  position: absolute;
  text-align: center;
  top: 47rem;
  transform: translateX(-50%);
  width: 12rem;

  &__active {
    background-color: $highlight-color;
    font-weight: bold;
  }
}
